fastapi>=0.68.0
uvicorn>=0.15.0
sqlalchemy>=1.4.23
pydantic>=1.8.2
pydantic-settings>=2.0.0
beautifulsoup4>=4.9.3
aiohttp>=3.8.1
streamlit>=1.22.0
pandas>=1.3.3
requests>=2.26.0
python-dotenv>=0.19.0
tqdm>=4.65.0
spacy>=3.8.0
scikit-learn>=1.6.1
lxml>=5.1.0
llama-index>=0.12.23
pymupdf>=1.25.3
chromadb>=0.6.3
ollama>=0.1.6
llama-index-vector-stores-chroma>=0.4.1
llama-index-embeddings-ollama>=0.6.0
llama-index-llms-ollama>=0.5.3
llama-index-embeddings-huggingface>=0.5.2
numpy<2.0.0
pymupdf4llm>=0.0.17
textacy>=0.13.0